body{
  padding: 20px;
}
.container1{position: relative;}
.logout
{ position: absolute; right: 3%; }

// POSTS STYLING 
.all_posts
{
  text-align: center; 
 }


.each_post_content{padding: 10px; background-color: lightskyblue; }
